<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.grandrole.mobilesales"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>销售冠军</name>

    <description>
        本系统帮助销售人员管理用户、制定工作计划，查看库存、订单信息，迅速提高自己的业务水平，获得更多的销售收入。
    </description>

    <author href="http://www.bjykst.com" email="caoj@grandrole.com">
        曹靖
    </author>

	<preference name="orientation" value="landscape" />
	
	<preference name="fullscreen" value="true" />
	
</widget>